header {
  position: absolute;
  z-index: 10;
  width: 100%;
}

.navbar {
  padding: 20px 0;
}

.navbar-brand {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: #262626;
}

.nav-item {
  font-weight: 800;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link {
  background: #f4c613;
  color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: #262626;
  padding: 5px 15px;
}

.banner {
  position: relative;
  background-image: url(../images/banners/opt_banner.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;
}

.banner h2 {
  margin: 0;
  padding: 0;
  font-size: 2.8em;
  font-weight: 1000;
  color: #262626;
  text-transform: uppercase;
}

.banner p {
  margin: 1em 0 0;
  padding: 0;
  font-size: 1.2em;
  line-height: 1.5em;
  color: #262626;
}

.btnD1 {
  display: inline-block;
  margin: 1em 0 0;
  background: #ff2670;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  font-weight: 800;
}

.btnD1:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-light .navbar-toggler {
  border: none;
  color: #fff;
  border: 2px solid #7f7f7f;
  border-radius: 0;
  outline: none;
}

.navbar-collapse {
  background: #fff;
}

@media (max-width: 768px) {
  .banner {
    padding: 200px 0;
  }

  .banner h2 {
    font-size: 1.8em;
  }
}

/* .carousel-inner > .img {
  height: 01vh;
  margin-left: 80px;
} */

.popupalert {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1001;
}

.pop {
  width: 900px;
  height: 450px;
  background-image: url(../images/products/salebanner.png);
  background-size: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 2px 5px 3px;
}

.close {
  color: white;
  margin-right: 1%;
}

@media only screen and (max-width: 900px) {
  .popupalert {
    display: none !important;
  }
}

.card {
  text-align: center;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 5px 2px #ccc;
  -moz-box-shadow: 3px 3px 5px 2px #ccc;
  box-shadow: 3px 3px 5px 2px #ccc;
  margin-bottom: 100px;
}
.card {
  min-height: 200px !important;
}
